/* styles/8-places.css */
.price_by_night {
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 20px;
  border-radius: 4px;
}

.information {
  height: 80px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.max_guest,
.number_rooms,
.number_bathrooms {
  width: 100px;
  display: inline-block;
}

.user {
  text-align: right;
}

.owner {
  font-weight: bold;
}

.description {
  clear: both;
}
